.main-container {
  margin: 0 auto;
  background-color: darkcyan;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-weight: bold;
}

.button {
  padding: 10px;
  border-radius: 15px;
  border: none;
  width: 200px;
  transition: all 0.3s ease-out;
  font-size: large;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.disable {
  background-color: gray;
}

.midnight-blue {
  background-color: midnightblue;
}

.medium-violet-red {
  background-color: mediumvioletred;
}

.checkbox-container {
  margin-top: 20px;
}

